@charset "UTF-8";

html {
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oxygen";
}

.clearfix::after, .row::after {
    content: "";
    display: block;
    clear: both;
}

.button {
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    padding: 0.9em 2.5em;
    color: white;
    background-color: #58c4c4;
}

.button:hover {
    background-color: #37a0a0;
}

.icon-play {
    height: 5em;
    display: none;
}

.icon-play img{
    max-width: 100%;
    max-height: 100%;
}

.top-header {
    text-align: center;
}

.top-header-logo {
    margin: .5em;
}

.top-nav {
    background-color: #612674;
    text-align: center;
}

.top-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.top-nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1em;
}

.top-nav a:hover {
    background-color: #7c3792;
}

.top-content {
    text-align: center;
    padding: 1em;
    background-color: #f6f6f6;
}

.top-content-title {
    color: #612674;
    font-size: 1.375em;
    margin: 1.375em;
}

.top-content-subtitle {
    color: #a87bb7;
    font-size: 1em;
    line-height: 1.5em;
}

.middle-content {
    background-color: #f6f6f6;
    text-align: center;
}

.middle-content p {
    line-height: 1.5em;
    color: #222;
}

.middle-content-title {
    color: #612674;
    text-transform: uppercase;
}

.middle-content span[class^="icon"] {
    font-size: 3.5em;
    color: #652e78;
}

.main-content {
    padding: 2em;
}

.main-content p {
    line-height: 1.2;
}

.main-content-article {
    margin-bottom: 3.5em;
}

.main-content-title {
    font-size: 1.25em;
    color: #652e78;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: normal;
}

.hidden{
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    display: block;
}

.footer{
    background:#25303e;
	color: #83969f;
	text-align:center;
	padding-bottom:2em;
}

.footer-menushare{
    background:#303d4c;	
    padding: .5em;
}

.footer-menushare li{
    display: inline-block;
    margin: 0 1em;
}
.footer-menushare a{
    font-size: 1.1em;
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 48.75em) { /* Resolução 780px */

    .top-header-logo {
        float: left;
    }

    .top-nav {
        background-color: transparent;
        float: right;
        margin-top: 1.5em;
    }

    .top-nav ul {
        margin: 0;
        padding: 0;
    }

    .top-nav li {
        display: inline-block;
        
    }

    .top-nav a {
        color: #7c3792;
    }

    .top-nav a:hover {
        background-color: #bf76d869;
    }

    .icon-play {
        display: block;
    }

    .top-content {
        background-color: #612674;
        color: white;
    }

    .top-content-title {
        color: white;
    }

    .top-content-subtitle {
        color: white;
    }

    .middle-content article {
        width: 44%;
        margin: 3%;
        float: left;
    }

    .main-content button {
        float: right;
    }
}

@media screen and (min-width: 62.5em) { /* Resolução 1000px */
    .top-content {
        background: #7c3792 url(../images/bg_topo_1198x670.jpg);
        background-position: center bottom;
       background-size: cover;
    }
}

@media screen and (min-width: 74em){ /* Resolução 1024px */

    .top-content {
        background: #612674 url(../images/bg_topo_1600x1374.jpg);
        height: 32em;
        padding-top: 25em;
        background-position: center top;
        background-size: cover;
    }

    .icon-play {
        height: 10em;
    }

    .middle-content article {
        width: 23%;
        margin: 1%;
        padding-top: 2em;
        float: left;
    }

    .main-content article{
        width: 44%;
        margin: 1%;
        float: left;
    }

    .main-content a {
        float: left;
    }
}